.player-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    max-width: 300px;
    margin: auto;
    background-color: #f0eeee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-image{
    width: 100%;
    border-radius: 8px;
    
}

.player-name{
    font-size: 24px;
    margin: 16px 0 8px;
    
}



.player-position{
    font-size: 18px;
    color: #666;
    margin: 16px;
}
  
  
.player-stats p{
    margin: 4px 0;
} 
  
  
 
  
  